{
  "openapi": "3.0.0",
  "info": {
    "title": "MultiPost Extension API",
    "description": "MultiPost 浏览器扩展程序 API 接口文档",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://multipost.app/api/extension",
      "description": "Extension API endpoint"
    }
  ],
  "components": {
    "schemas": {
      "DynamicData": {
        "type": "object",
        "required": ["content"],
        "properties": {
          "title": {
            "type": "string",
            "description": "动态标题"
          },
          "content": {
            "type": "string",
            "description": "动态内容"
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileData"
            }
          },
          "videos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileData"
            }
          }
        }
      },
      "FileData": {
        "type": "object",
        "required": ["name", "url", "type", "size"],
        "properties": {
          "name": {
            "type": "string",
            "description": "文件名称"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "文件URL"
          },
          "type": {
            "type": "string",
            "description": "文件类型"
          },
          "size": {
            "type": "number",
            "description": "文件大小"
          },
          "base64": {
            "type": "string",
            "description": "文件base64编码"
          },
          "originUrl": {
            "type": "string",
            "format": "uri",
            "description": "原始文件URL"
          }
        }
      },
      "ArticleData": {
        "type": "object",
        "required": ["title", "content", "digest", "cover"],
        "properties": {
          "title": {
            "type": "string",
            "description": "文章标题"
          },
          "content": {
            "type": "string",
            "description": "文章内容"
          },
          "digest": {
            "type": "string",
            "description": "文章摘要"
          },
          "cover": {
            "$ref": "#/components/schemas/FileData",
            "description": "文章封面"
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileData"
            }
          },
          "videos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileData"
            }
          },
          "fileDatas": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FileData"
            }
          },
          "originContent": {
            "type": "string",
            "description": "原始内容"
          },
          "markdownContent": {
            "type": "string",
            "description": "Markdown格式内容"
          },
          "markdownOriginContent": {
            "type": "string",
            "description": "原始Markdown内容"
          }
        }
      },
      "VideoData": {
        "type": "object",
        "required": ["title", "content", "video"],
        "properties": {
          "title": {
            "type": "string",
            "description": "视频标题"
          },
          "content": {
            "type": "string",
            "description": "视频描述"
          },
          "video": {
            "$ref": "#/components/schemas/FileData",
            "description": "视频文件"
          }
        }
      },
      "Platform": {
        "type": "object",
        "required": ["name", "injectUrl"],
        "properties": {
          "name": {
            "type": "string",
            "description": "平台名称"
          },
          "injectUrl": {
            "type": "string",
            "format": "uri",
            "description": "注入脚本的URL"
          },
          "extraConfig": {
            "description": "平台额外配置，不同平台可能需要不同的配置，请参考平台文档",
            "type": "object",
            "properties": {
              "customInjectUrls": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uri"
                }
              }
            }
          }
        }
      },
      "PublishPost": {
        "type": "object",
        "required": ["platforms", "data"],
        "properties": {
          "platforms": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Platform"
            }
          },
          "isAutoPublish": {
            "type": "boolean",
            "default": false
          },
          "data": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/DynamicData"
              },
              {
                "$ref": "#/components/schemas/ArticleData"
              },
              {
                "$ref": "#/components/schemas/VideoData"
              }
            ]
          }
        }
      },
      "SchedulePublishPost": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PublishPost"
          },
          {
            "type": "object",
            "required": ["timestamp"],
            "properties": {
              "timestamp": {
                "description": "Unix 毫秒时间戳，表示任务的发布时间，我们会尽力在该时间点执行任务",
                "type": "integer",
                "format": "int64",
                "minimum": 0
              }
            }
          }
        ]
      },
      "Task": {
        "type": "object",
        "required": ["targetClientId", "taskType", "taskData"],
        "properties": {
          "targetClientId": {
            "type": "string"
          },
          "taskType": {
            "type": "string",
            "enum": ["PUBLISH_POST", "SCHEDULE_PUBLISH_POST"]
          },
          "taskData": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/PublishPost"
              },
              {
                "$ref": "#/components/schemas/SchedulePublishPost"
              }
            ]
          }
        }
      },
      "TaskResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "taskId": {
                "type": "string"
              },
              "status": {
                "type": "string",
                "enum": ["PENDING", "ACTIVE", "DONE"]
              }
            }
          }
        }
      },
      "TaskDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "taskType": {
            "type": "string",
            "enum": ["PUBLISH_POST", "SCHEDULE_PUBLISH_POST"]
          },
          "status": {
            "type": "string",
            "enum": ["PENDING", "ACTIVE", "DONE"]
          },
          "targetClientId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Client": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "platformInfos": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "error": {
            "type": "string",
            "enum": [
              "UNAUTHORIZED",
              "KEY_EXPIRED",
              "CLIENT_NOT_FOUND",
              "INVALID_DATA",
              "INTERNAL_SERVER_ERROR",
              "TASK_ID_REQUIRED",
              "CLIENT_ID_REQUIRED"
            ]
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/task": {
      "get": {
        "summary": "获取任务详情",
        "parameters": [
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "任务ID"
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取任务详情",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/TaskDetails"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "未授权",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "创建新任务",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Task"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功创建任务",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaskResponse"
                }
              }
            }
          },
          "400": {
            "description": "无效的请求数据",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "未授权",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/clients": {
      "get": {
        "summary": "获取所有客户端列表",
        "responses": {
          "200": {
            "description": "成功获取客户端列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Client"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "未授权",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/client": {
      "get": {
        "summary": "获取单个客户端详情",
        "parameters": [
          {
            "name": "clientId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "客户端ID"
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取客户端详情",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Client"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "未授权",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "更新客户端信息",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["clientId", "name"],
                "properties": {
                  "clientId": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "成功更新客户端信息",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Client"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "未授权",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  }
}
